@{
    ViewBag.Title = "Contact";
}

<div id="userguide">
    <h2>Users Guide</h2>
    
    <h3>Speakers can do the following once logged in:</h3>
    <ul>
        <li>Add a meet</li>
        <li>Edit or Cancel a meet through drop down menu on right</li>
    </ul>

    <h3>Users can do the following once logged in:</h3>
    <ul>
        <li>Go to event by clicking on Going? button</li>
        <li>Cancel to go by clicking again on Going? button</li>
        <li>Follow or Unfollow Speaker by clicking on Following? button</li>
        <li>See the meets they are going to through dropdown list</li>
        <li>See the speakers followed through dropdown list</li>
        <li>Search speaker,Genre or Location of an event from homepage</li>
    </ul>

    <h3>Notifications</h3>
        <ul>
            <li>
                Notifications are sent to users if an event is edited or deleted by Speaker.
            </li>
        </ul>
    
</div>